@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-xl border border-slate-200 shadow-none;
  }

  .input-base {
    @apply w-full rounded-lg border border-slate-300 bg-white px-3 py-2 text-sm text-slate-900
    focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-100;
  }
}
