@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-xl shadow-card border border-slate-100;
  }

  .input-base {
    @apply w-full rounded-lg border border-slate-300 bg-white px-3 py-2 text-sm text-slate-900 shadow-sm
    focus:border-primary-500 focus:outline-none focus:ring-2 focus:ring-primary-100;
  }
}

